@page
@model CrimesListModel
@{
  ViewData["Title"] = "List of Crimes";
}

<h2>List of Crimes</h2>  

@{
   if (@Model.EX != null)
	 {
	   <br />
		 <br />
		 <h3>**ERROR: @Model.EX.Message</h3>
		 <br />
		 <hr />
		 <br />
		 <br />
	 }
}

<table class="table">  
    <thead>  
        <tr>  
            <th>  
                IUCR
            </th>  
            <th>  
                PrimaryDesc 
            </th>  
            <th>  
                SecondaryDesc
            </th>  
            <th>  
                NumOccur
            </th>  
        </tr>  
    </thead>  
    <tbody>  

        @foreach (var item in Model.CrimeList)  
        {  
            <tr>  
                <td>  
                    @item.IUCR
                </td>  
                <td>  
                    @item.PrimaryDesc
                </td>  
                <td>  
                    @item.SecondaryDesc
                </td>  
                <td>  
                    @item.NumOccur
                </td>  
            </tr>  

        }  
    </tbody>  
</table>